.h1 {
  font-family: fantasy;
  font-weight: bold;
  text-align: center;
}
.p {
  margin: 3% 10% 10% 10%;
  text-align: center;
}
#paragraph {
  color: red;
  display: flex;
  justify-content: center;
}
